
.box {
    width: 304px;
    height: 604px;
    margin: 30px auto;
    border: 2px rgb(38, 0, 255) solid;
}
#board {
    border-collapse:collapse;
}
#board tr td {
    width: 30px;
    height: 30px;
}
