* {
    padding: 0;
    margin: 0;
}

#index_search {
    position: absolute;
    margin-top: 15px;
    margin-left: 10px;
    width: 180px;
    height: 30px;
    border: 2px solid #B9C4CE;
    border-radius: 15px;
    background-color:transparent;
    outline:none;
    color: #f7f4f4; 
    font-size: 16px;
}

#index_ul{
    position: absolute;
    margin-left: 270px;
    /* margin-right: 10px; */
}
#index_ul li{
    list-style:none; /* 将默认的列表符号去掉 */
    float: left;
    margin-left: 10px;
}
#index_btn {
    margin-top: 15px;
    border-radius: 15px;
    font: 1em sans-serif;
    color: #fff;
    font-size: 15px;
    font-weight:550;
    border: none;
    width: 85px;
    height: 25px;
    opacity:0.8;
    outline:none;
    font-weight:blod;
}
#mid_pic {
    margin-top: 20px;
}
#mid_pic div img{
    width: 100%;
    height: 100%;
}
#mid_pic div p{
    font-size: 18px;
    font-weight:blod;
}

#midText {
    border-top: 10px solid #27373A;
}
#mid_p{
    font: 28px sans-serif;
    border-right: 10px solid #27373A;
}
#mindText_ul li{
    list-style:none; /* 将默认的列表符号去掉 */
    padding:0; /* 将默认的内边距去掉 */
    margin:0; /* 将默认的外边距去掉 */
    margin-top: 20px;
}
#mindText_ul li h4{
    padding:0; /* 将默认的内边距去掉 */
    margin:0; /* 将默认的外边距去掉 */
}
#mindText_ul li div{
    width: 290px;
    float: right;
    font-size: 10px;
}

#mindText_ul li img{
    width: 140px;
}

#footer1{
    margin-top: 30px;
}

#footer1 div p{
    font: 18px sans-serif;
    margin: 0;
    font-weight:600;
}
#footer1 img{
    margin-top: 30px;
    width: 360px;
}

#footer2 {
    background: #27373A;
    margin-top: 20px;
    /* margin-bottom: 20px; */
    height: 90px;
    vertical-align:middle;
    text-align:center;
    padding-top: 25px;
}
#footer2 span {
    color: #fff;
    font-size: 25px;
}























