* {
    padding: 0;
    margin: 0;
}



/* page6 */
#pageBg_span1 {
    color: #fff;
    font-size: 120px;
    margin-top: 100px;
    margin-left: 450px;
    position: absolute;
}
#midText1 {
    border-bottom: 8px solid #27373A;
}
#mid_p1{
    font: 28px sans-serif;
    border-right: 5px solid #27373A;
    margin-top: 5px;
}
#mid_p1 p{
    font-size: 24px;
    font-weight:600;
}
#mid_p1 img{
    margin-top: 30px;
    margin-left: 20px;
    width: 300px;
    height: 200px;
}
#page1_p2 {
    margin-top: 40px;
    font-size: 24px;
    font-weight:600;
    color: #606343;
}


/* page7 */
#pageBg_span2 {
    color: #fff;
    font-size: 120px;
    margin-top: 100px;
    margin-left: 340px;
    position: absolute;
}
#mid_p2 {
    border-right: 5px solid #27373A;
}
#mid_p2 p{
    font-weight:600;
}

/* page9 */
#mid_p9{
    background: #F7F7F7;
}
#mid_p9 p{
    font-size: 25px;
    font-weight:500;
}

/* page10 */
#mid_p10{
    margin-top: 5px;
    border-bottom: 7px solid #27373A;
}
#mid_p10 p{
    font-size: 18px;
    font-weight:600;
}
#mid_p10_1{
    margin-top: 5px;
    border-bottom: 7px solid #27373A;
}
#mid_p10_1 p{
    font-size: 12px;
    font-weight:600;
}

/* page5  */
#mid_p5 p {
    font-size: 15px;
    font-weight:600;
}
/* page3 */
#mid_p3 p {
    font-size: 18px;
    font-weight:600;
}
/* page4 */
#mid_p4 p {
    font-size: 18px;
    font-weight:600;
}

/* page2 */
#page2_btn {
    background-color: #606343;
    outline:none;
    border-radius: 15px;
    width: 120px;
    height: 40px;
    border: none;
    color: #fff;
    margin-left: 10px;
    font-size: 20px;
}
#page_bot_bar{
    margin-top: 5px;
    border-bottom: 7px solid #27373A;
}
#page2_ul li{
    list-style:none; /* 将默认的列表符号去掉 */
    padding:0; /* 将默认的内边距去掉 */
    margin:0; /* 将默认的外边距去掉 */
}
#page2_ul li img{
    width: 300px;
    height: 200px;
    margin-top: 10px;
}
#page2_ul li div{
    width: 400px;
    height: 200px;
    margin-top: 10px;
    margin-right: 20px;
    float: right;
    font-size: 16px;
    font-weight:600;
}
#page2_right p{
    margin-left: 10px;
    font-size: 20px;
    font-weight: 600;
}

































